{% extends './layout.njk' %}
{% block page %}
                            <h1>Mark Reeves Studio</h1>
                            {{ content|safe }}
                            <div class="services">
                                <h2>Reach out to Mark&nbsp;&ndash;</h2>
                                <ul>
                                    <li>For help determining <em>how much</em> technology you&nbsp;need.</li>
                                    <li>To synch data across disparate systems or&nbsp;<abbr title="Application Programming Interfaces">APIs</abbr>.</li>
                                    <li>To extend Craft CMS or Craft&nbsp;Commerce.</li>
                                    <li>To prototype or build a web&nbsp;application.</li>
                                    <li>To implement &amp; support <abbr title="Customer Relationship Management">CRM</abbr> or data management&nbsp;tools.</li>
                                    <li>To conduct an Accessibility audit or achieve Accessibility&nbsp;goals.</li>
                                    <li>To research technology options and help you make better&nbsp;decisions.</li>
                                    <li>To discuss <a href="/utility-first-ux">Utility First UX</a>.</li>
                                </ul>
                            </div>
{% endblock page %}