{% extends './layout.njk' %}
{% block page %}
                            <h1>{{ title }}</h1>
                            {{ content|safe }}
                            <div class="utility-first-diagram">
                                <ol>
                                    <li>Accessibility</li>
                                    <li>Privacy</li>
                                    <li>Performance</li>
                                    <li>Resiliency</li>
                                    <li>Consistency</li>
                                    <li>Sustainability</li>
                                    <li>Delight</li>
                                </ol>
                            </div>
                            <!--
                              -- First published Feb. 27, 2021
                              -- https://github.com/clearbold/reeves.studio/commits/main/src/_includes/layouts/utility-first.njk
                              -- https://github.com/clearbold/reeves.studio/blob/main/src/utility-first-ux.md
                            -->
{% endblock page %}