{% extends './layout.njk' %}
{% block page %}
                            <h1>{{ title }}</h1>
                            {{ content|safe }}
                            <div class="utility-first-diagram">
                                <ol>
                                    <li>Accessibility</li>
                                    <li>Privacy</li>
                                    <li>Resiliency</li>
                                    <li>Performance</li>
                                    <li>Consistency</li>
                                    <li>Sustainability</li>
                                    <li>Delight</li>
                                </ol>
                            </div>
{% endblock page %}